# Flutter / Dart
.dart_tool/
.packages
.pub/
.pub-cache/
build/
**/build/
.flutter-plugins
.flutter-plugins-dependencies
.metadata

# IDE
.idea/
.vscode/
*.iml

# Android / Gradle
android/.gradle/
android/local.properties
**/captures/
.gradle/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/

# Logs
*.log

# Misc
.DS_Store
Thumbs.db