# Flutter
.dart_tool/
build/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/

# IDE
.idea/
.vscode/
*.iml

# Platform folders not used
linux/
macos/
windows/
web/
test/

# OS
.DS_Store
Thumbs.db