<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>$(DEVELOPMENT_LANGUAGE)</string>
    <key>CFBundleDisplayName</key>
    <string>video_recorder</string>
    <key>NSCameraUsageDescription</key>
    <string>Camera is required for secure exam proctoring.</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>Microphone is required for secure exam proctoring.</string>
</dict>
</plist>
